body header
{

background-color: #9400d3;
color: white;
text-align: center;
padding: 20px;

}
body {
    font-family: "Segoe UI", Arial, sans-serif;
     background-color: #9400d3;
     margin: 0;
}
main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 20px;
    
}
nav a
{
   color: white;
}
section {
    margin-bottom: 40px;
}
section h1 {
    color: #9400d3;
    border-bottom: 2px solid #9400d3;
    padding-bottom: 5px;
}
footer {
    text-align: center;
}
fieldset{
    border: 2px solid #9400d3;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9fafb;
}
fieldset legend {
    color: #9400d3;
    font-weight: bold;
    padding: 0 10px;
}
fieldset button{
background-color: #9400d3;
color: white;
}
footer{
    background-color: #9400d3;
    color: white;
}
a {
    color: white;
}
